<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="2" name="Test">
		<classes>
			<class name="com.xcm.testcases.TC01_GetAllEmployeeData" />
			<class name="com.xcm.testcases.TC02_GetSingleEmploye" />
			<class name="com.xcm.testcases.TC03_PostEmployeRecord" />
			<class name="com.xcm.testcases.TC04_PutEmployeRecord" />
			<class name="com.xcm.testcases.TC05_DeleteEmplyeRecord" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
